.caja {
    border: 5px solid #FF0000; /* Ejemplo: borde rojo */
  }

  
  /* .caja {
    border-top: 5px solid red;
    border-right: 10px dashed green;
    border-bottom: 15px dotted blue;
    border-left: 20px solid purple;
  } */
  