.caja {
    border: 10px solid black; /* Ejemplo: borde negro sólido de 10px */
  }

  
  /* .caja {
    border-top: 5px solid red;
    border-right: 10px dashed green;
    border-bottom: 15px dotted blue;
    border-left: 20px solid purple;
  }
   */