.caja {
    /* Ejemplo: borde negro sólido de 10px */
    /* Una sola propiedad */
    
    /* border: 10px solid black;  */
    
    /* propiedades separadas */
    border-width: 10px;
    border-style: solid;
    /* border-color: blue; */
    border-top-color: red;
    border-bottom-color: green;
    border-right-color: yellow;
    border-left-color: orange;
  }

  
  /* .caja {
    border-top: 5px solid red;
    border-right: 10px dashed green;
    border-bottom: 15px dotted blue;
    border-left: 20px solid purple;
  }
   */