.contenedor {
    display: flex; /* Activar modo flexbox para el contenedor */
}

.texto-izquierda {
    text-align: left; /* Alinear texto a la izquierda */
}

.texto-centro {
    text-align: center; /* Alinear texto al centro */
}

.texto-derecha {
    text-align: right; /* Alinear texto a la derecha */
}
