/* Selecciona todos los elementos en el documento */
* {
    color: blue;
    font-family: Arial, sans-serif;
  }

  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  