.contenedor {
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    position: relative; /* Posicionamiento relativo del contenedor */
  }
  
  .caja1 {
    width: 100px;
    height: 100px;
    background-color: #f00;
    position: absolute; /* Posicionamiento absoluto para la caja 1 */
    top: 20px; /* Desplazamiento vertical de 20px */
    left: 20px; /* Desplazamiento horizontal de 20px */
  }
  
  .caja2 {
    width: 100px;
    height: 100px;
    background-color: #0f0;
    position: absolute; /* Posicionamiento absoluto para la caja 2 */
    top: 20px; /* Desplazamiento vertical de 20px */
    right: 20px; /* Desplazamiento horizontal a la derecha */
  }
  
  .caja3 {
    width: 100px;
    height: 100px;
    background-color: #00f;
    position: absolute; /* Posicionamiento absoluto para la caja 3 */
    bottom: 20px; /* Desplazamiento vertical hacia abajo */
    left: 20px; /* Desplazamiento horizontal de 20px */
  }
  