.caja-fija {
    background-image: url("fondo-s.jpg");
    background-attachment: fixed; /* Imagen fija */
  }

  
/* Variaciones:

fixed: La imagen se fija en su posición.
scroll: La imagen se desplaza con la página. */