.caja-repetir {
    background-image: url("fondo-s.jpg");
    background-repeat: no-repeat; /* Repetir la imagen horizontalmente */
  }

  
/* Variaciones:

repeat-x: Repite la imagen horizontalmente.
repeat-y: Repite la imagen verticalmente.
no-repeat: No repite la imagen (solo se muestra una vez).  */
